:root {
    --gray: #ccc;
    --magenta: #F06
}

.next-text {
    left: 11%;
    position: absolute;
    top: 13%;
}

.light-plant {
    position: absolute;
    top: 31%;
    left: 50%;
}

.girl {
    position: relative;
    right: -4%;
    bottom: -61px;
}


/* .girl-svg svg path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke: black;
    fill: white;
} */

#heart {
    width: 150px;
}

#heart path {
    stroke: var(--magenta);
    fill: var(--gray);
    stroke-dasharray: 54;
    stroke-dashoffset: 54;
    stroke-width: 1px;
    cursor: pointer;
}

#heart path.liked {
    animation: 2s ease-in forwards animateHeartLike, 0.8s linear 2s 2 forwards beat;
}

#heart path.unliked {
    animation: 2s ease-in forwards animateHeartUnLike;
}

.next-text path {
    stroke-dasharray: 4012px;
    stroke-dashoffset: 4012px;
    fill: white;
    stroke: #a1a1a1;
}

.next-txt-animate {
    animation: animateNextTxt 15s ease forwards, fillanim 5s ease forwards 3s;
}

.remove-animations {
    animation: animateNextTxtReverse 15s ease forwards, fillanimReverse 2s ease backwards 1s;
}

@keyframes animateHeartLike {
    0% {
        stroke-dashoffset: 54;
        fill: var(--gray);
    }
    70% {
        fill: var(--gray);
    }
    100% {
        stroke-dashoffset: 0;
        fill: var(--magenta);
    }
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animateHeartUnLike {
    0% {
        stroke-dashoffset: 0;
        fill: var(--magenta);
    }
    30% {
        stroke-dashoffset: 0;
        fill: var(--gray);
    }
    100% {
        stroke-dashoffset: 54;
        fill: var(--gray);
    }
}

@keyframes animateNextTxt {
    0% {}
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fillanim {
    0% {
        fill: transparent;
    }
    100% {
        fill: #a1a1a1;
    }
}


/* reverse animate next text */

@keyframes animateNextTxtReverse {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 4012;
    }
}

@keyframes fillanimReverse {
    0% {
        fill: #a1a1a1;
    }
    100% {
        fill: transparent;
    }
}


/* bottom line */

.bottom-line path {
    stroke-dasharray: 1780px;
    stroke-dashoffset: 1780px;
    fill: white;
    stroke: #000000;
}

.bottom-line-animate {
    animation: bottomLineAnimate 5s ease forwards, fillBottomLine 5s ease forwards 3s;
}

@keyframes bottomLineAnimate {
    0% {}
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fillBottomLine {
    0% {
        fill: transparent;
    }
    100% {
        fill: #000000;
        ;
    }
}