.next-text {
    left: 11%;
    position: absolute;
    top: 13%;
}

.light-plant {
    position: absolute;
    top: 31%;
    left: 50%;
}

.girl {
    position: relative;
    right: -4%;
    bottom: -61px;
}